html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header{
	background-color: blue;
	height: 60px;
	width: 100%;
}


.contents{
	background-color: gray;
	height: 800px;
	width: 960px;
	margin:0 auto;
}

.left-content{
	background-color: red;
	height: 300px;
	width: 300px;
	float: left;
}

.right-content{
	background-color: yellow;
	height: 500px;
	width: 200px;
	float: right;
}

.bottom-content{
	background-color: green;
	height: 50px;
	clear: both;
}

.footer{
	background-color: blue;
	height: 60px;
	width: 100%;
}